*{
  margin :0 ;
  padding : 0;
  background-color: rgb(250, 249, 248);
}

.invent-container {
  display: flex;
  height : 10vh;
  text-align: center;
  align-items: center;
}

.btc-box{
  flex: 0.5;
}

.usdt-box{
  flex: 0.5;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #b75555;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #bc4949;
}